*{
	/margin: 0;
	padding: 0;
}
/* Configuração página de index.html*/
body{
	margin: 0;
}

#menuu ul{
	margin: 0; 
	list-style: none;
	margin-left: 47%;	
	margin-top: -6%;
}

#menuu ul li{
	display: inline;
}

#menuu ul li a{
	padding: 10px 20px;		
	display: inline-block;
	font-size: 16pt;
	color: black;
	text-decoration: none;

}
#menuu ul li a:hover{
	color: blue;
} 

#logo{
	height: 85px;
	width: 125px;
	display: inline;
}

#conta{
	background-color: #99ff99;
}

#entrar{
	background-color: #99ff99;
}

#centro{
	margin-top: 7%;
}

/* Configuração página de Login*/

input{
	display: block;
	height: 10%;
	width: 30%;
	margin: 1%;
	border-radius: 30px;
	border: solid 2px black;
	font-size: 16pt;
	padding: 8px 16px;
	outline: none;
	background-color: rgb(255,255,255,0.4);
}

div#corpo-form{
	margin-top: 9%;
}
body#login{
	background-color: #609e86;
	font-family: arial;
}
div#corpo-form h1{
	padding: 2%;
}

div#corpo-form a{
	color: rgb(19, 61, 69);
	text-decoration: none;
}

div#corpo-form a:hover{
	text-decoration: underline;
}

input[type=submit]{
	background-color: #044447;
	border: none;
	cursor: pointer;
}

/*Página de Cadastro*/

div#corpo-cadastro{
	margin-top: 4%;
}

div#msg_certo{
	width: 400px;
	margin: 10px auto;
	padding: 10px;
	background-color: #AAFF82/*rgba(50,205,50,.3)*/;
	border: 1px solid rgb(34,139,34);
}

div.msg_erro{
	width: 400px;
	margin: 10px auto;
	padding: 10px;
	background-color: #FF622D/*rgba(250,128,114,.3)*/;
	border: 1px solid rgb(165,42,42);
}

/*cofigurações de uma tabela*/

td{
  padding: .7em;
  margin: 0;
  /*border: 1px solid #ccc;*/
  text-align: center;
}

/* estilização cavas arquivo mapa.php*/

/*canvas{
	border: solid 1px;
}*/
